.participant_main_view {
  border-radius: 0.8rem;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  background-color: var(--surface-color);
  border: 0.2rem solid var(--placeholder-color);
  justify-content: space-between;
  width: 100%;
}

.participant_leader {
  border-color: var(--success-color);
}

.participant_nickname {
  color: var(--text-color);
  font-weight: bold;
}

.participant_points {
  color: var(--text-color);
}

@media screen and (min-width: 55rem) {
  .participant_main_view {
    width: 55rem;
  }
}
