.sign_in_page_nickname {
  color: var(--text-color);
  font-weight: bold;
  margin-block: 5rem;
}

.sign_in_page_nickname {
  color: var(--text-color);
  font-weight: bold;
}

.sign_in_page_content_view {
  width: 100%;
  flex: 1;
  align-items: center;
  padding-top: 10rem;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

.sign_in_page_background_image {
  background-image: url(https://wallpaperaccess.com/full/912018.jpg);
  width: 100%;
  align-self: center;
  flex: 1;
}

@media screen and (min-width: 55rem) {
  .sign_in_page_content_view {
    width: 55rem;
    align-self: center;
  }
  .sign_in_page_background_image {
    width: 55rem;
    align-self: center;
  }
}
